USE [AdFormCurrency]
GO
/****** Object:  Table [dbo].[CurrencyConversionHistory]    Script Date: 17-08-2025 01:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyConversionHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromCurrency] [nvarchar](10) NOT NULL,
	[ToCurrency] [nvarchar](10) NOT NULL,
	[InputAmount] [decimal](18, 6) NOT NULL,
	[ConvertedAmount] [decimal](18, 6) NOT NULL,
	[ConversionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangeRates]    Script Date: 17-08-2025 01:30:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [nvarchar](10) NOT NULL,
	[CurrencyDesc] [nvarchar](100) NULL,
	[Rate] [decimal](18, 6) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[CurrencyCodeReference] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CurrencyConversionHistory] ADD  DEFAULT (getdate()) FOR [ConversionDate]
GO
ALTER TABLE [dbo].[ExchangeRates] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[ExchangeRates] ADD  DEFAULT ('DKK') FOR [CurrencyCodeReference]
GO
